.d_flex {
  display: flex !important;
  align-items: center !important;
}

.flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d_flex_sb {
  justify-content: space-between !important;
}

.d_flex_sa {
  justify-content: space-around !important;
}

.d_flex_c {
  justify-content: center !important;
}

.d_flex_start {
  justify-content: flex-start !important;
}

.d_flex_end {
  justify-content: flex-end !important;
}

.d_flex_column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.w-100 {
  width: 100%;
}

// 单行文本显示隐藏
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 多行 文本显示隐藏
.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.container {
  padding: 10px;
  padding-top: 20px;
}

.el-notification .el-icon-info {
  color: var(--el-color-info);
}
.el-notification .el-icon-warning {
  color: var(--el-color-warning);
}
.el-notification .el-icon-success {
  color: var(--el-color-success);
}
.el-notification .el-icon-error {
  color: var(--el-color-error);
}
